.ingredient {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 250px;
  position: relative;
  cursor: pointer;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
}
