.links { 
  display: flex; 
  flex-direction: column;
  width: 300px;
  margin-left: 20px;
  margin-top: 40px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8585AD;
  margin-bottom: 40px;
}

button {
  cursor: pointer;
  text-align: left;
  padding: 0;
  background: none;
  border: none;
  color: #8585AD;
}
