.ingredients, .ingredient, .result {
  display: flex; 
}

.container {
  width: 560px;
}

.ingredient {
  position: relative;
}

.result {
  justify-content: flex-end;
  align-items: center;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
