.container, .tabs, .ingredients {
  display: flex;
}

.container {
  flex-direction: column;
  width: 600px;
}

.ingredientsContainer {
  height: 500px;
  overflow-x: auto;
}

.ingredients {
  justify-content: space-between;
  flex-wrap: wrap;
}

.description {
  color: white;
  text-decoration: none;
}